language: go

before_install:
  - go get -u github.com/marthjod/gotodo/...
  - go get -u github.com/golang/lint/golint
  - go get -u honnef.co/go/tools/cmd/megacheck

script:
  - make vet
  - make lint
  - make megacheck
  - make test
